PORT = 3000
DB_CONNECTION_URL =mongodb+srv://<user>:<passowrd>@cluster0.vzpgq.mongodb.net/<db_name>
SUPPORT_EMAIL = email@gmail.com
SUPPORT_EMAIL_AUTH = ivlladdfbdezsaskviifg
JWT_SECRET_KEY = JWT_SECRET_KEY
ACCESS_TOKEN_LIFE = 5d
REFRESH_TOKEN_LIFE = 30d
RESET_PASSWORD_TOKEN_LIFE = 10m
GOOGLE_MAP_API_KEY= googletestpaikey
AWS_ACCESS_KEY_ID= keyid
AWS_S3_SECRET_KEY= secret
S3_BUCKET_NAME= bucketname
AWS_REGION= region
AWS_S3_UPLOAD_PREFIX= prefix
PRODUCTION_URL=https://ride-hailing.com


# Sparrow SMS (OTP via phone)
SPARROW_SMS_TOKEN=
SPARROW_SMS_IDENTITY=
SPARROW_SMS_API_URL=https://api.sparrowsms.com/v2/sms/
# Brand name shown in the SMS body (defaults to eYatra)
SMS_BRAND_NAME=eYatra
